# File Location: /etc/systemd/system/<name>.service

[Unit]
Description=Button Event Handler for GameCubePi
#After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /home/keshav/buttons_pi.py
Environment="DISPLAY=:0"
#run is needed to trigger shutdown -h now
User=keshav
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
