[Unit]
Description=Moonlight-Qt Service

[Service]
User=keshav
Environment="QT_QUICK_CONTROLS_STYLE=Universal"
Environment="QT_QUICK_CONTROLS_UNIVERSAL_ACCENT=Indigo"
ExecStart=/usr/bin/moonlight-qt
Restart=always
RestartSec=1

[Install]
#WantedBy=multi-user.target
WantedBy=network.target
